<h1>Private Web Archive</h1>

<ul>
  <% @webpages.each do |webpage| %>
    <li>
      <%= link_to webpage.url, webpage %>
    </li>
  <% end %>
</ul>

<%= link_to "+ Add new", new_webpage_path %>

<% if current_page?(root_url) %>
  <%= link_to "Show read", show_read_path %>
<% else current_page?(show_read_url) %>
  <%= link_to "Hide read", root_path %>
<% end %>
