<%= turbo_frame_tag @webpage do %>
  <div class="block p-2 space-x-4 ">
    
    <h2 class="inline-block text-md text-orange-500">Webpage already in archive!</h2>
    
    <span class="inline-block">
      <%= link_to "BACK", webpages_path, class: "btn-primary !p-1" %>
    </span>
  </div>
<% end %>
