<div data-controller="dropdown" class="relative">
    <button data-action="dropdown#toggle click@window->dropdown#hide"
            class="flex items-center justify-between w-full py-2 pl-3 pr-4 font-medium text-slate-700 rounded hover:bg-slate-100 md:hover:bg-transparent md:border-0 md:p-0 md:w-auto"
     >
       logged in as <%= current_user.email %>
      <svg class="w-4 h-4 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
    </button>
    
  <div
    data-dropdown-target="menu"
    class="hidden transition transform font-normal bg-white divide-y divide-gray-200 rounded shadow w-44 origin-top-right right-0 absolute "
    data-transition-enter-from="opacity-0 scale-95"
    data-transition-enter-to="opacity-100 scale-100"
    data-transition-leave-from="opacity-100 scale-100"
    data-transition-leave-to="opacity-0 scale-95"
  >
    <a href="#" data-action="dropdown#toggle">
      <%= link_to current_user, class: "block px-4 py-2 hover:bg-violet-100" do %>
        Profile
      <% end %>
    </a>
    <a href="#" data-action="dropdown#toggle">
      <%= link_to logout_path, class: "block px-4 py-2 text-sm text-slate-700 hover:bg-slate-100", data: { "turbo-method": :delete } do %>
        Log out
      <% end %>
    </a>
  </div>
</div>
