<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Edit profile</h1>

  <%= render "users/form", user: @user %>

  
  <%= link_to "Go Back", @user, class: "btn-primary" %>
  <% if @user.admin? %>
    <%= link_to "Show All Users", users_path, class: "btn-primary" %>
  <% end %>
</div>
