<nav class="flex justify-between mb-10 mt-4 w-full">

  <ul class="flex justify-end items-center space-x-4 ">

    <% unless current_page?(root_path) or current_page?(show_read_webpages_path) %>
      <li>
        <span class="text-slate-800  hover:text-slate-500" href="#">
          <%= link_to "Home", root_path %>
        </span>
      </li>
    <% end %>
    
  </ul>
  
  <%= render_account_dropdown %>
</nav>
