<nav class="flex justify-between mb-10 mt-4 w-full">

  <ul class="flex justify-end items-center space-x-4 ">

   <!-- Placeholder for menu -->
   
  </ul>
  
  <%= render_account_dropdown %>
</nav>

<!-- Logo -->
<%= link_to root_path do %>
  <%= image_tag "arkive_mascot.webp", class: "w-40 mx-auto mb-10" %>
<% end %>

